html,
body {
	background: url('../img/bg/body.jpg');
}

/* ==========================================================================
   Default
   ========================================================================== */

#wrapper {
	margin: 0 auto;
	width: 960px;
	height: auto;
}

/* ==========================================================================
   Header
   ========================================================================== */
#header {}

/* ==========================================================================
   Content
   ========================================================================== */
#content {}

/* ==========================================================================
   Footer
   ========================================================================== */
#footer {}